@use 'variables';
@use 'mixins';


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.nav-bar {
    width: 90vw;
    background-color: white;
    padding: 10px 0;
    margin-top: 5px;
    grid-column: span 7;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    border: 2px dashed #000;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    max-height: 15vh;

    .nombre-app {
        margin: 5px;
        font-family: "Mina", sans-serif;
        font-weight: 700;
        font-style: normal;
    }

    & ul li .NavbarButton {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-right: 10px;

    }

    h1,
    h2,
    h3 {
        text-align: center;
    }
}

/*tablet*/
@media only screen and (min-width: 768px) {
    header {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
    }

    header ul {
        display: flex;
        gap: 1rem;
        justify-content: center;
    }
}

/**desktop**/

@media only screen and (min-width: 1200px) {
    header {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 8rem;
        align-items: center;
    }

    nav {
        grid-column: span 2;
    }

}
