// Variables de colores
$primary-color: #4CAF50;
$secondary-color: #f0f0f0;
$background-color: #f9f9f9; 
$border-color: #000; 
$shadow-color: rgba(0, 0, 0, 0.1);
$highlight-color: #27ed27;
$text-color: #333;
$nav-link-color: black;
$container-bg-color: #550088;
$font-size-component: large;
$button-bg-color: green;
$primary-bg-color: #0000;

// Tipografía
$font-family: "Mina", sans-serif;
$font-weight: 400;
